.table_container {
    height: fit-content;
    box-shadow: 4px 4px 24px 1px rgba(34, 60, 80, 0.14);
}

.table_title {
    font-weight: 600;
    font-size: 22px;
    color: #2D2E46;
}

.table_wrapper {
    padding: 30px;
    display: grid;
    row-gap: 2.5rem;
    grid-template-rows: 30px 30px 1fr 30px;
}

.text_field_group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pagination_group {
    display: flex;
    align-items: center;
}

.select_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table_button_group {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.table_button_group button:nth-child(2) {
    margin: 0 .5rem;
}

.table_button_group button {
    width: 55px;
    color: #21268F;
    font-weight: 600;
    font-size: 14px;
    border-radius: 2px;
    box-shadow: none;
    background-color: #fff;
    padding: 5px 5px;
}

.table_button_group button:hover {
    color: #21268F;
}

.table_button_group button:disabled,
.table_button_group button[disabled] {
    background-color: #FAFBFC;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959DA5;
    cursor: default;
    pointer-events: none;
    box-shadow: none;
}

.table_button_group button:active {
    background: #9A91C8;
    color: #FFFFFF;
    box-shadow: none;
    font-weight: 600;
}

.table_button_group button:focus {
    outline: 1px transparent;
}

.table_button_group button[id='button_delete'] {
    color: #FFFFFF;
    background-color: #F1453D;
}

.table_button_group button[id='button_delete']:disabled,
.table_button_group button[id='button_delete'][disabled] {
    background-color: #de6c69;
}

.table_button_group button[id='button_delete']:active {
    color: rgba(0, 0, 0, 0.73);
}

.table_button_group button[id='button_delete']:hover {
    color: #24292E;
}