.navbar_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background: #EBE0E9;



}

.navbar_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    height: 52px;

    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
}

.navbar_item {
    color: #2D2E46;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease;
    font-weight: 600;
    padding: 15px 10px 14px;
}

.active {
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease;
    font-weight: 600;
    padding: 15px 10px 14px;
    background: #DCCCDB;
    border-bottom: 3px;
    border-bottom-color: #21268F;
    color: #2D2E46;
}

.navbar_list a:hover {
    background: #DCCCDB;
}

.navbar_list a:not(:last-child) {
    margin-right: 30px;
}