.container {
    padding: 30px;
    width: 1100px;
    border-radius: 8px;
    background: #FEFEFF;
    display: flex;
    flex-direction: column;
    margin: 24px auto 0;
}
.table_title {
    font-weight: 800;
    font-size: 22px;
    color: #2D2E46;
    letter-spacing: 1px;
}

.arrowBackSharpIcon {
    padding-top: 5px;
    color: #2D2E46;
}

.inputContainer {
    display: flex;
    justify-content: space-between;
    margin: 30px 0 30px 0;
}

.paginationContainer {
    margin-top: 30px;
}
.icon {
    display: flex;
    justify-content: space-between;
}

.now_cards {
    text-align: center;
    padding: 20px;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 1px;
}