.button_group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button_group button:first-child {
    width: 124px;
    height: 36px;
}

.button_group button:last-child {
    width: 187px;
    height: 36px;
}

.button_group button:not(:last-child) {
    margin-right: 2rem;
}